- var lang = "ja";
- var title = "background light";
- var keywords = "..."
- var ogDesc = `...`;
- var ogLocale = "ja_JP";
- var ogUrl = "https://sample.com/";
- var ogImage = "/img/logo.png";
- var ogType = "website";
- var twitterSite = "@..."

- function relativeUrl(url){ return  '/' + url.replace(/(^\/)/, ''); }
- function relativeOGUrl(url){ return  ogUrl + url.replace(/(^\/)/, ''); }
