div(class="login-form")
  div(class="content text-neutral-700")
    h2 LOGIN 
    div(class="inputs")
      input(type="text")
      input(type="password")
    div(class="actions")
      button Registry
      button Login